<footer
  class="bg-gradient-to-r from-[#00293b] via-[#00296b] to-[#00293b] py-10 sm:px-16 max-sm:px-8 font-sans tracking-wide">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-8">
    <div class="lg:col-span-2 max-w-md">
      <h4 class="text-lg mb-6 text-white">About Us</h4>
      <p class="text-gray-300 mb-2 text-[15px] leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean gravida,
        mi eu pulvinar cursus, sem elit interdum mauris.</p>
    </div>

    <div>
      <h4 class="text-lg mb-6 text-white">Services</h4>
      <ul class="space-y-4">
        <li><a href="javascript:void(0)" class="text-gray-300 hover:text-white text-[15px]">Web
            Development</a></li>
        <li><a href="javascript:void(0)" class="text-gray-300 hover:text-white text-[15px]">Mobile App
            Development</a></li>
        <li><a href="javascript:void(0)" class="text-gray-300 hover:text-white text-[15px]">UI/UX
            Design</a></li>
        <li><a href="javascript:void(0)" class="text-gray-300 hover:text-white text-[15px]">Digital Marketing</a></li>
      </ul>
    </div>

    <div>
      <h4 class="text-lg mb-6 text-white">Resources</h4>
      <ul class="space-y-4">
        <li><a href="javascript:void(0)" class="text-gray-300 hover:text-white text-[15px]">Webinars</a>
        </li>
        <li><a href="javascript:void(0)" class="text-gray-300 hover:text-white text-[15px]">Ebooks</a>
        </li>
        <li><a href="javascript:void(0)" class="text-gray-300 hover:text-white text-[15px]">Templates</a>
        </li>
        <li><a href="javascript:void(0)" class="text-gray-300 hover:text-white text-[15px]">Tutorials</a></li>
      </ul>
    </div>

    <div>
      <h4 class="text-lg mb-6 text-white">About Us</h4>
      <ul class="space-y-4">
        <li><a href="javascript:void(0)" class="text-gray-300 hover:text-white text-[15px]">Our Story</a>
        </li>
        <li><a href="javascript:void(0)" class="text-gray-300 hover:text-white text-[15px]">Mission and
            Values</a></li>
        <li><a href="javascript:void(0)" class="text-gray-300 hover:text-white text-[15px]">Team</a></li>
        <li><a href="javascript:void(0)" class="text-gray-300 hover:text-white text-[15px]">Testimonials</a></li>
      </ul>
    </div>
  </div>

  <p class="text-gray-300 text-[15px] mt-10 text-center">© App by Matthew. All rights reserved.</p>
</footer>
</div>