<!-- Start main body -->
<main>
  <div>
    <div class="flex flex-col items-center justify-center ">
      <div
        class="grid md:grid-cols-2 items-center gap-4 max-md:gap-8 max-w-6xl max-md:max-w-lg w-full p-4 shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] rounded-md">
        <div class="md:max-w-md w-full px-4 py-4">
          <form id="loginForm" action="/signin" method="POST">
            <div class="mb-12">
              <h3 class="text-gray-800 text-3xl font-extrabold">Sign in</h3>
              <p class="text-sm mt-4 text-gray-800">
                Don't have an account <a href="/register"
                  class="text-blue-600 font-semibold hover:underline ml-1 whitespace-nowrap">Register
                  here</a>
              </p>
            </div>
            <div>
              <label class="text-gray-800 text-xs block mb-2">User
                Name</label>
              <div class="relative flex items-center">
                <input id="username" name="username" type="text" required
                  class="w-full text-gray-800 text-sm border-b border-gray-300 focus:border-blue-600 pl-2 pr-8 py-3 outline-none"
                  placeholder="Enter username" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" class="w-[18px] h-[18px] absolute right-2"
                  viewBox="0 0 24 24">
                  <path
                    d="M12 12c2.761 0 5-2.239 5-5S14.761 2 12 2 7 4.239 7 7s2.239 5 5 5zm0 2c-3.866 0-7 3.134-7 7a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1c0-3.866-3.134-7-7-7z" />
                </svg>
                <defs>
                  <clipPath id="a" clipPathUnits="userSpaceOnUse">
                    <path d="M0 512h512V0H0Z" data-original="#000000"></path>
                  </clipPath>
                </defs>
                <g clip-path="url(#a)" transform="matrix(1.33 0 0 -1.33 0 682.667)">
                  <path fill="none" stroke-miterlimit="10" stroke-width="40"
                    d="M452 444H60c-22.091 0-40-17.909-40-40v-39.446l212.127-157.782c14.17-10.54 33.576-10.54 47.746 0L492 364.554V404c0 22.091-17.909 40-40 40Z"
                    data-original="#000000"></path>
                  <path
                    d="M472 274.9V107.999c0-11.027-8.972-20-20-20H60c-11.028 0-20 8.973-20 20V274.9L0 304.652V107.999c0-33.084 26.916-60 60-60h392c33.084 0 60 26.916 60 60v196.653Z"
                    data-original="#000000"></path>
                </g>
                </svg>
              </div>
            </div>

            <div class="mt-8">
              <label class="text-gray-800 text-xs block mb-2">Password</label>
              <div class="relative flex items-center">
                <input id="password" name="password" type="password" required
                  class="w-full text-gray-800 text-sm border-b border-gray-300 focus:border-blue-600 pl-2 pr-8 py-3 outline-none"
                  placeholder="Enter password" />
                <button type="button" onclick="togglePassword()" class="absolute right-2 cursor-pointer">
                  <svg id="eyeIcon" xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb"
                    class="w-[18px] h-[18px]" viewBox="0 0 128 128">
                    <path
                      d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
                      data-original="#000000"></path>
                  </svg>
                </button>
              </div>
            </div>


            <div class="mt-12">
              <button type="button" onclick="RequestToLogin();"
                class="w-full shadow-xl py-2.5 px-4 text-sm tracking-wide rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none">
                Sign in</button>
            </div>

            <div class="my-4 flex items-center gap-4">
              <hr class="w-full border-gray-300" />
              <p class="text-sm text-gray-800 text-center">or</p>
              <hr class="w-full border-gray-300" />
            </div>

            <div class="space-x-6 flex justify-center">
              <button type="button" class="border-none outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7 inline" viewBox="0 0 512 512">
                  <path fill="#fbbd00"
                    d="M120 256c0-25.367 6.989-49.13 19.131-69.477v-86.308H52.823C18.568 144.703 0 198.922 0 256s18.568 111.297 52.823 155.785h86.308v-86.308C126.989 305.13 120 281.367 120 256z"
                    data-original="#fbbd00" />
                  <path fill="#0f9d58"
                    d="m256 392-60 60 60 60c57.079 0 111.297-18.568 155.785-52.823v-86.216h-86.216C305.044 385.147 281.181 392 256 392z"
                    data-original="#0f9d58" />
                  <path fill="#31aa52"
                    d="m139.131 325.477-86.308 86.308a260.085 260.085 0 0 0 22.158 25.235C123.333 485.371 187.62 512 256 512V392c-49.624 0-93.117-26.72-116.869-66.523z"
                    data-original="#31aa52" />
                  <path fill="#3c79e6"
                    d="M512 256a258.24 258.24 0 0 0-4.192-46.377l-2.251-12.299H256v120h121.452a135.385 135.385 0 0 1-51.884 55.638l86.216 86.216a260.085 260.085 0 0 0 25.235-22.158C485.371 388.667 512 324.38 512 256z"
                    data-original="#3c79e6" />
                  <path fill="#cf2d48"
                    d="m352.167 159.833 10.606 10.606 84.853-84.852-10.606-10.606C388.668 26.629 324.381 0 256 0l-60 60 60 60c36.326 0 70.479 14.146 96.167 39.833z"
                    data-original="#cf2d48" />
                  <path fill="#eb4132"
                    d="M256 120V0C187.62 0 123.333 26.629 74.98 74.98a259.849 259.849 0 0 0-22.158 25.235l86.308 86.308C162.883 146.72 206.376 120 256 120z"
                    data-original="#eb4132" />
                </svg>
              </button>
              <button type="button" class="border-none outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7 inline" fill="#000" viewBox="0 0 22.773 22.773">
                  <path
                    d="M15.769 0h.162c.13 1.606-.483 2.806-1.228 3.675-.731.863-1.732 1.7-3.351 1.573-.108-1.583.506-2.694 1.25-3.561C13.292.879 14.557.16 15.769 0zm4.901 16.716v.045c-.455 1.378-1.104 2.559-1.896 3.655-.723.995-1.609 2.334-3.191 2.334-1.367 0-2.275-.879-3.676-.903-1.482-.024-2.297.735-3.652.926h-.462c-.995-.144-1.798-.932-2.383-1.642-1.725-2.098-3.058-4.808-3.306-8.276v-1.019c.105-2.482 1.311-4.5 2.914-5.478.846-.52 2.009-.963 3.304-.765.555.086 1.122.276 1.619.464.471.181 1.06.502 1.618.485.378-.011.754-.208 1.135-.347 1.116-.403 2.21-.865 3.652-.648 1.733.262 2.963 1.032 3.723 2.22-1.466.933-2.625 2.339-2.427 4.74.176 2.181 1.444 3.457 3.028 4.209z"
                    data-original="#000000"></path>
                </svg>
              </button>
              <button type="button" class="border-none outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7 inline" fill="#007bff"
                  viewBox="0 0 167.657 167.657">
                  <path
                    d="M83.829.349C37.532.349 0 37.881 0 84.178c0 41.523 30.222 75.911 69.848 82.57v-65.081H49.626v-23.42h20.222V60.978c0-20.037 12.238-30.956 30.115-30.956 8.562 0 15.92.638 18.056.919v20.944l-12.399.006c-9.72 0-11.594 4.618-11.594 11.397v14.947h23.193l-3.025 23.42H94.026v65.653c41.476-5.048 73.631-40.312 73.631-83.154 0-46.273-37.532-83.805-83.828-83.805z"
                    data-original="#010002"></path>
                </svg>
              </button>
            </div>
          </form>
          <!-- toast success -->
          <div id="toast_wrapper" style="display: none;"
            class="fixed inset-0 flex items-center justify-center bg-gray-800/50 z-50">
            <div id="toast_success"
              class="w-[310px] bg-white text-center shadow-lg border-l-4 border-green-500 text-gray-800 flex items-center p-4 rounded-md">
              <svg xmlns="http://www.w3.org/2000/svg" class="spinner-6 w-10 h-10 shrink-0 animate-spin"
                viewBox="0 0 512.004 512.004">
                <path
                  d="M256.002 93.869c-89.404 0-162.133 72.73-162.133 162.133s72.73 162.133 162.133 162.133 162.133-72.73 162.133-162.133S345.406 93.869 256.002 93.869zm0 307.2c-79.991 0-145.067-65.075-145.067-145.067s65.075-145.067 145.067-145.067 145.067 65.075 145.067 145.067-65.075 145.067-145.067 145.067z"
                  data-original="#000000" />
                <path
                  d="M256.002 204.802c-28.237 0-51.2 22.963-51.2 51.2s22.963 51.2 51.2 51.2 51.2-22.963 51.2-51.2-22.963-51.2-51.2-51.2zm0 85.333c-18.825 0-34.133-15.309-34.133-34.133s15.309-34.133 34.133-34.133c18.825 0 34.133 15.309 34.133 34.133s-15.308 34.133-34.133 34.133zm0 179.201c-110.309 0-201.332-84.157-212.237-191.638l9.938 9.938c1.664 1.664 3.849 2.5 6.033 2.5s4.369-.836 6.033-2.5a8.525 8.525 0 0 0 0-12.066l-25.6-25.6a8.813 8.813 0 0 0-.625-.566c-.107-.088-.22-.165-.33-.247-.112-.083-.221-.171-.338-.248-.137-.092-.28-.173-.421-.256-.097-.057-.191-.118-.291-.172-.152-.081-.307-.151-.463-.223-.096-.045-.19-.093-.289-.134-.162-.067-.327-.123-.492-.18-.097-.034-.193-.072-.292-.102a8.602 8.602 0 0 0-.547-.141c-.087-.02-.172-.046-.26-.064a8.26 8.26 0 0 0-.714-.109c-.037-.004-.073-.012-.11-.016a8.592 8.592 0 0 0-1.727 0c-.037.004-.073.012-.11.016a8.602 8.602 0 0 0-.714.109c-.088.018-.173.043-.26.064-.183.043-.366.086-.546.141-.099.03-.195.069-.292.102-.165.057-.33.113-.492.18-.098.041-.191.089-.287.134-.156.072-.312.142-.464.224-.1.053-.194.115-.291.172-.141.083-.283.164-.421.256-.116.077-.224.164-.336.247-.111.083-.224.16-.332.249a8.346 8.346 0 0 0-.624.565l-25.6 25.6a8.525 8.525 0 0 0 0 12.066 8.523 8.523 0 0 0 12.066 0l11.889-11.889C36.507 393.581 135.61 486.402 256.002 486.402c4.71 0 8.533-3.823 8.533-8.533s-3.822-8.533-8.533-8.533zm253.5-244.967a8.523 8.523 0 0 0-12.066 0l-11.889 11.889C475.498 118.423 376.395 25.602 256.002 25.602a8.536 8.536 0 0 0-8.533 8.533 8.536 8.536 0 0 0 8.533 8.533c110.309 0 201.332 84.157 212.237 191.638l-9.938-9.938a8.523 8.523 0 0 0-12.066 0 8.523 8.523 0 0 0 0 12.066l25.6 25.6c.199.199.408.387.625.565.096.079.198.148.297.222.124.093.246.189.375.276.116.078.238.145.357.217.12.072.237.147.36.213.121.065.246.119.369.178.129.061.255.125.388.18.12.05.242.089.364.133.141.051.28.105.424.149.121.037.245.063.367.094.147.037.292.078.442.108.144.029.289.045.434.066.13.019.259.044.391.057a8.442 8.442 0 0 0 1.682 0c.132-.013.261-.038.391-.057.144-.021.289-.038.433-.066.15-.03.296-.071.443-.108.122-.031.245-.057.366-.094.144-.044.284-.098.425-.149.121-.044.244-.084.363-.133.132-.055.259-.119.388-.18.123-.059.248-.113.369-.178.123-.066.24-.141.36-.213.119-.072.24-.139.357-.217.129-.086.251-.182.375-.276.099-.074.2-.143.297-.222.217-.178.427-.367.625-.565l25.6-25.6a8.523 8.523 0 0 0 0-12.065z"
                  data-original="#000000" />
              </svg>
              &nbsp;&nbsp;
              <span class="text-center font-semibold tracking-wide">Login successfully</span>
              &nbsp;&nbsp;
              <svg xmlns="http://www.w3.org/2000/svg" class="w-[32px] mr-3 fill-green-500" viewBox="0 0 512 512">
                <ellipse cx="246" cy="246" rx="246" ry="246" />
                <path class="fill-white"
                  d="m235.472 392.08-121.04-94.296 34.416-44.168 74.328 57.904 122.672-177.016 46.032 31.888z" />
              </svg>
            </div>
          </div>

          <!-- Toast error -->
          <div id="toast_wrapper_error" style="display: none;"
            class="fixed inset-0 flex items-center justify-center bg-gray-800/50 z-50">
            <div
              class="w-[310px] bg-white text-center shadow-lg border-l-4 border-red-500 text-gray-800 flex items-center p-4 rounded-md">
              <svg xmlns="http://www.w3.org/2000/svg" class="spinner-6 w-10 h-10 shrink-0 animate-spin"
                viewBox="0 0 512.004 512.004">
                <path
                  d="M256.002 93.869c-89.404 0-162.133 72.73-162.133 162.133s72.73 162.133 162.133 162.133 162.133-72.73 162.133-162.133S345.406 93.869 256.002 93.869zm0 307.2c-79.991 0-145.067-65.075-145.067-145.067s65.075-145.067 145.067-145.067 145.067 65.075 145.067 145.067-65.075 145.067-145.067 145.067z"
                  data-original="#000000" />
                <path
                  d="M256.002 204.802c-28.237 0-51.2 22.963-51.2 51.2s22.963 51.2 51.2 51.2 51.2-22.963 51.2-51.2-22.963-51.2-51.2-51.2zm0 85.333c-18.825 0-34.133-15.309-34.133-34.133s15.309-34.133 34.133-34.133c18.825 0 34.133 15.309 34.133 34.133s-15.308 34.133-34.133 34.133zm0 179.201c-110.309 0-201.332-84.157-212.237-191.638l9.938 9.938c1.664 1.664 3.849 2.5 6.033 2.5s4.369-.836 6.033-2.5a8.525 8.525 0 0 0 0-12.066l-25.6-25.6a8.813 8.813 0 0 0-.625-.566c-.107-.088-.22-.165-.33-.247-.112-.083-.221-.171-.338-.248-.137-.092-.28-.173-.421-.256-.097-.057-.191-.118-.291-.172-.152-.081-.307-.151-.463-.223-.096-.045-.19-.093-.289-.134-.162-.067-.327-.123-.492-.18-.097-.034-.193-.072-.292-.102a8.602 8.602 0 0 0-.547-.141c-.087-.02-.172-.046-.26-.064a8.26 8.26 0 0 0-.714-.109c-.037-.004-.073-.012-.11-.016a8.592 8.592 0 0 0-1.727 0c-.037.004-.073.012-.11.016a8.602 8.602 0 0 0-.714.109c-.088.018-.173.043-.26.064-.183.043-.366.086-.546.141-.099.03-.195.069-.292.102-.165.057-.33.113-.492.18-.098.041-.191.089-.287.134-.156.072-.312.142-.464.224-.1.053-.194.115-.291.172-.141.083-.283.164-.421.256-.116.077-.224.164-.336.247-.111.083-.224.16-.332.249a8.346 8.346 0 0 0-.624.565l-25.6 25.6a8.525 8.525 0 0 0 0 12.066 8.523 8.523 0 0 0 12.066 0l11.889-11.889C36.507 393.581 135.61 486.402 256.002 486.402c4.71 0 8.533-3.823 8.533-8.533s-3.822-8.533-8.533-8.533zm253.5-244.967a8.523 8.523 0 0 0-12.066 0l-11.889 11.889C475.498 118.423 376.395 25.602 256.002 25.602a8.536 8.536 0 0 0-8.533 8.533 8.536 8.536 0 0 0 8.533 8.533c110.309 0 201.332 84.157 212.237 191.638l-9.938-9.938a8.523 8.523 0 0 0-12.066 0 8.523 8.523 0 0 0 0 12.066l25.6 25.6c.199.199.408.387.625.565.096.079.198.148.297.222.124.093.246.189.375.276.116.078.238.145.357.217.12.072.237.147.36.213.121.065.246.119.369.178.129.061.255.125.388.18.12.05.242.089.364.133.141.051.28.105.424.149.121.037.245.063.367.094.147.037.292.078.442.108.144.029.289.045.434.066.13.019.259.044.391.057a8.442 8.442 0 0 0 1.682 0c.132-.013.261-.038.391-.057.144-.021.289-.038.433-.066.15-.03.296-.071.443-.108.122-.031.245-.057.366-.094.144-.044.284-.098.425-.149.121-.044.244-.084.363-.133.132-.055.259-.119.388-.18.123-.059.248-.113.369-.178.123-.066.24-.141.36-.213.119-.072.24-.139.357-.217.129-.086.251-.182.375-.276.099-.074.2-.143.297-.222.217-.178.427-.367.625-.565l25.6-25.6a8.523 8.523 0 0 0 0-12.065z"
                  data-original="#000000" />
              </svg>
              &nbsp;&nbsp;
              <span class="text-center font-semibold tracking-wide">Something wrong</span>
              &nbsp;&nbsp;
              <svg xmlns="http://www.w3.org/2000/svg" class="w-[32px] shrink-0 fill-red-500 inline mr-3"
                viewBox="0 0 32 32">
                <path
                  d="M16 1a15 15 0 1 0 15 15A15 15 0 0 0 16 1zm6.36 20L21 22.36l-5-4.95-4.95 4.95L9.64 21l4.95-5-4.95-4.95 1.41-1.41L16 14.59l5-4.95 1.41 1.41-5 4.95z"
                  data-original="#ea2d3f" />
              </svg>
            </div>
          </div>
        </div>
        <div class="w-full h-full flex items-center bg-[#fff] rounded-xl p-8">
          <img style="width: 100%; height: 100%;" src="/images/banner1.jpg" class="w-full aspect-[12/12]"
            alt="login-image" />
        </div>
      </div>
    </div>
  </div>
  <!-- End Body -->
</main>
<!-- Include jQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="/js/login.js"></script>