* {
    padding: 0px;
    margin: 0px;
}

body{
background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
         url('/fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
         url('/fonts/PlayfairDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

 #container {
   max-width: 1000px;
    margin: 0 auto;
    background-color: white;
} 

main {
   max-width: 1000px;
}

footer {
 max-width: 1000px;
}

/* Make the page responsive for mobile */
@media (max-width: 768px) {
 
    #topbanner {
  background-image: url('/images/topbanner_768.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
  }
}

@media (max-width: 550px) {
  #topbanner {
background-image: url('/images/topbanner_300.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
  }
}